/*============================== Imports ==================================== */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*============================== Configurations ==============================*/
:root {
    /* COLORS */


    /* BACKGROUNDS */
    --page-background: linear-gradient(#ffd776, #ffb500);
    --menu-background: #6ac9ff;
    --field-opened-background: #afd9ff;

    --button-background: #67b6ff;

    /* BORDERS */
    --input-border: #4468eb;

    /* TEXTS */
    --button-text: white;

    /* FONTS */
    --tittle-font: 'Dancing Script', Arial, Helvetica, cursive;
    --default-font: 'Inter', Arial, Helvetica, sans-serif;
}

/*============================== Generic Elements ==============================*/
body {
    background-image: var(--page-background);

    font-size: 16px;
    font-family: var(--default-font);
}

main {
    margin-bottom: 3rem;
}

/* Tittles */
h1, h2, h3 {
    font-family: var(--tittle-font);
}

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

/* Removes default link formatting */
a {
    color: inherit;

    text-decoration: none;
}

    /* Links without URL */
    a[href="#"] {
        color: red;
    }

/* FORMS */
fieldset {
    padding: 0;
}

/*============================== Generic Classes ==============================*/
/* WIDTH OF THE PAGE CONTENT */
.page-content--width {
    width: 80%;

    margin: auto;
}

/* BUTTON */
.button {
    background-color: var(--button-background);

    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;

    color: var(--button-text);
}

/* HR */
.hr--black {
    border-color: black;
}

/* ACESSIBILITY */
.acessibility--hidden-text {
    width: 1px;
    height: 1px;
    
    position: absolute;

    color: transparent;

    overflow: hidden;
}

/*============================== Page - Top to Bottom ==============================*/
/* COURSES LINKS */
.nav-courses {
    background-color: var(--menu-background);

    text-align: center;
}

    .nav-courses__link {
        display: block;

        padding: 2rem;
    }

/* INTRODUCTION */
.introduction {
    text-align: center;
}

/* GENERAL INFORMATION */
.general-information {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

    .general-information__item {
        display: flex;
    }

        .general-information__item:not(:last-child) {
            margin-bottom: 1.5rem;
        }


        .general-information__description {
            display: inline-block;

            margin-left: 1rem;

            text-align: justify;
        }

/* COURSES */
.courses {
    text-align: center;

    width: 100vw;

    margin-bottom: 3rem;
}

    .courses__title {
        margin-bottom: .5rem;
    }

    .courses__slides {
        width: 100%;
        height: 250px;
        
        margin-top: .5rem;
        margin-bottom: 1rem;

        white-space: nowrap;
        overflow: auto;
    }

        .courses__slide {
            background-repeat: no-repeat;
            background-size: cover;

            width: 100%;
            height: 100%;
            max-height: 200px;

            display: inline-block;
            
            box-sizing: border-box;

            color: white;
        }

            .courses__slide:nth-child(1) {
                background-image: url("../images/Sing\ Course.png");
                background-position: right;
            }

            .courses__slide:nth-child(2) {
                background-image: url("../images/Keyboard\ Course.png");
            }

            .courses__slide:nth-child(3) {
                background-image: url("../images/Piano\ Course.png");
            }

            .courses__slide:nth-child(4) {
                background-image: url("../images/Children\'s\ Musicalization\ Course.png");
            }

            .courses__slide:nth-child(5) {
                background-image: url("../images/Choir\ Conductor\ Course.png");
            }

            .courses__slide--flex {
                height: 100%;
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                white-space: normal;
            }

                .courses__slide__title {
                    font-size: 2.5rem;
                }

                .courses__slide__description {
                    width: 75%;

                    margin: auto;
                    margin-top: inherit;
                    margin-bottom: inherit;

                    font-size: 1rem;
                    text-align: center;
                }

/* CONTACT */
.contact-title {
    text-align: center;
}

.contact-description {
    margin: 1rem auto;

    text-align: justify;
}

/* EMAIL FORM */
.email-form {
    display: flex;
    flex-direction: column;
}

    .email-form__field {
        margin-bottom: .5rem;
    }

        .email-form__label {
            display: block;

            margin-bottom: .25rem;

            font-size: .8rem;
        }

        .email-form__input {
            width: 100%;

            border: 1px solid var(--input-border);
            border-radius: 5px;
            padding: .5rem;
            box-sizing: border-box;

            font-size: .625rem;
        }

            .email-form__message {
                resize: none;
            }

    .email-form__send {
        width: calc(100% - 40%);
        max-width: 175px;

        margin: auto;
    }

/* EXTERNAL CONTENT */
.external-content__title {
    padding: 1rem;

    text-align: center;
}

.external-content__list {
    height: 10rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 1rem auto;
}

    .external-content__item {
        width: 50%;
    }

        .external-content__item:nth-child(even) .external-content__link {
            padding-left: 23%;
        }

        .external-content__link {
            display: flex;
            align-items: center;
        }

            .external-content__icon {
                width: 40px;
                height: 40px;
            }

            .external-content__text {
                margin-left: 1rem;
            }

/* RESPONSIVE LAYOUTS */