/* STANDARD  CONTENT WIDTH */
@mixin standard--width {
    width: 80%;

    margin: auto;

    @media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
        width: 60%;
    }

    @media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
        width: 50%;
    }
}

/* STANDARD BOTTOM MARGIN OF SEPARATION */
@mixin standard--margin-bottom {
    margin-bottom: 3rem;
}

/* ACESSIBILITY */
@mixin acessibility--hidden-text {
    width: 1px;
    height: 1px;
    
    position: absolute;

    color: transparent;

    overflow: hidden;
}