/********** PAGE CONFIGURATIONS **********/
$breakpoints: (
    "medium": 540px,
    "large": 1024px,
    "extra-large": 1440px,
);

/********** COLORS **********/
$red-color: hsl(0, 100%, 46%);
$kournikova-color: hsl(42, 100%, 67%);
$selective-yellow-color: hsl(43, 100%, 50%);
$malibu-light-color: hsl(202, 100%, 71%);
$anakiwa-color: hsl(209, 100%, 84%);
$malibu-color: hsl(209, 100%, 70%);
$royal-blue-color: hsl(227, 81%, 59%);
$white-color: hsl(0, 0%, 100%);
$danube-color: hsl(214, 56%, 58%);
$transparent-white-color: hsla(0, 0%, 100%, 0.082);
$heavy-black-color: hsl(0, 0%, 9%);
$heavy-black-little-transparent-color: hsla(0, 0%, 0%, 0.8);
$black-color: black;

/********** BACKGROUNDS **********/
$page-background: linear-gradient($kournikova-color, $selective-yellow-color);
$menu-background: $malibu-light-color;
$link--hover-background: $danube-color;

$section-background: $malibu-color;
$content-dropdown-background: $anakiwa-color;

$button-background: $malibu-color;
$button--hover-background: $danube-color;

/********** BORDERS **********/
$input-border-color: $royal-blue-color;
$question-border-color: $royal-blue-color;
$menu-bottom-border-color: $transparent-white-color;

$menu-box-shadow: -2px 2px 4px $heavy-black-little-transparent-color;

/********** TEXTS **********/
$font-sizes: (
    "small": 16px,
    "medium": 20px,
    "large": 24px,
);

$title-text-shadow: 1px 1px 2px $white-color;

/********** FONTS **********/
$tittle-font-stack: (
    'Dancing Script',
    Arial,
    Helvetica,
    cursive,
);

$default-font-stack: (
    'Inter',
    Arial,
    Helvetica,
    sans-serif,
);