/*============================== Imports ==================================== */
@import url("../style.css");

/*============================== Configurations ==============================*/
:root {
    /* COLORS */


    /* BACKGROUNDS */


    /* BORDERS */


    /* TEXTS */


    /* FONTS */
    
}

/*============================== Generic Elements ==============================*/
a {
    text-decoration: none;
}

/*============================== Generic Classes ==============================*/


/*============================== Page - Top to Bottom ==============================*/
/* NAVIGATION MENU */
.navigation-menu {
    background-color: var(--menu-background);
}

    .navigation-menu__link {
        display: block;

        padding: 1.5rem 1rem;

        color: black;
        text-align: center;
    }

/* INTRODUCTION */
.introduction__title {
    text-align: center;
}

.introduction__description {
    text-align: justify;
}

/* COURSE INFORMMATION */
.course-information__item {
    display: flex;
    align-items: center;
}

    .course-information__item:not(:last-child) {
        margin-bottom: 1rem;
    }


    .course-information__description {
        margin-left: 1rem;

        text-align: justify;
    }

/* COURSES */
.courses {
    text-align: center;
}

    .courses__title {
        margin-bottom: 1rem;
    }

    .courses__cards {
        background-image: url("../../images/Sheet\ Music.svg");
        background-repeat: no-repeat;

        /* Block height is increased from window width */
        min-height: calc(200px + 15vw);

        display: flex;

        overflow: auto;
    }

        .course {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;
            
            color: white;
            
            flex: 1 0 100%;
        }
        
            .course__background {
                background-repeat: no-repeat;
                background-size: cover;
                
                width: 75%;
                height: 75%;
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                border-radius: 10px;
                padding: 2rem;
                box-sizing: border-box;
            }
            
                .course:nth-child(1) .course__background {
                    background-image: url("../../images/Singing\ Course.png");
                    background-position: center;
                }
                
                .course:nth-child(2) .course__background {
                    background-image: url("../../images/Keyboard\ Course.png");
                }
                
                .course:nth-child(3) .course__background {
                    background-image: url("../../images/Piano\ Course.png");
                }
                
                .course:nth-child(4) .course__background {
                    background-image: url("../../images/Children\'s\ Musicalization\ Course.png");
                }
                
                .course:nth-child(5) .course__background {
                    background-image: url("../../images/Choir\ Conductor\ Course.png");
                }

    .courses__acess-course {
        margin-top: .5rem;
    }
            
/* RESPONSIVE LAYOUTS */