@mixin button {
    background-color: $button-background;

    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;

    color: $white-color;

    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
        background-color: $button--hover-background;
    }
}