/********** VENDORS **********/
@import "vendors/global-vendors";

/********** ABSTRACTS **********/
@import "abstracts/global-abstracts";

/********** BASE **********/
@import "base/global-base";

/********** COMPONENTS **********/
@import "components/global-components";

/********** LAYOUT **********/
@import "layout/global-layout";

/*============================== Page - Top to Bottom ==============================*/
/* INTRODUCTION */
.header__introduction {
    @include standard--width();
    @include standard--margin-bottom();
}

    .introduction__title {
        text-align: center;
    }

    .introduction__description {
        text-align: justify;
    }

/* COURSE INFORMMATION */
.course-information {
    @include standard--width();
    @include standard--margin-bottom();

    margin-top: 2rem;
}

    .course-information__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .course-information__item:not(:last-child) {
            margin-bottom: 1rem;
        }

        .course-information__icon {
            width: 30px;
            height: 30px;
        }

        .course-information__description {
            margin-left: 1rem;

            text-align: justify;
        }

/* COURSES */
.courses {
    @include standard--margin-bottom();

    text-align: center;
}

    .courses__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    .courses__acess-course {
        @include button();

        display: inline-block;

        margin-top: .5rem;
    }

/* SWIPER */
.swiper {
    background-image: url("../images/Sheet\ Music.svg");
    background-repeat: no-repeat;

    /* Block height is increased from window width */
    height: calc(200px + 25vw);
}

    .swiper-wrapper {
        height: 100%;
    }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .swiper-slide__background {
                background-repeat: no-repeat;
                background-size: cover;
                
                width: 75%;
                height: 75%;
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                border-radius: 10px;
                padding: 2rem;
                box-sizing: border-box;

                color: $white;
                text-align: center;
            }
        
                .swiper-slide__background--sing {
                    background-image: url("../images/Singing\ Course.png");
                    background-position: 50%;
                }

                .swiper-slide__background--keyboard {
                    background-image: url("../images/Keyboard\ Course.png");
                }
                
                .swiper-slide__background--piano {
                    background-image: url("../images/Piano\ Course.png");
                }
                
                .swiper-slide__background--children {
                    background-image: url("../images/Children\'s\ Musicalization\ Course.png");
                }
                
                .swiper-slide__background--choir {
                    background-image: url("../images/Choir\ Conductor\ Course.png");
                    background-position: 75%;
                }

    .swiper-button {
        background-color: $white;

        width: 3rem !important;
        height: 3rem !important;

        border-radius: 50%;
    }
    .swiper-button-prev {
        left: 5% !important;
    }
    .swiper-button-next {
        right: 5% !important;
    }

        .swiper-button::after {
            font-size: 1rem !important;
        }

    .swiper-button-prev::after {
        content: url("../images/icons/Arrow\ Left.svg") !important;
    }

    .swiper-button-next::after {
        content: url("../images/icons/Arrow\ Right.svg") !important;
    }

/* CONTACT */
.contact {
    @include standard--width();
    @include standard--margin-bottom();
}

    .contact__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    .contact__description {
        margin-bottom: 1rem;

        text-align: justify;
    }

    .contact__legend {
        @include acessibility--hidden-text();
    }

    .contact__fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

        .contact__label {
            display: block;

            margin-bottom: .5rem;

            font-size: .875rem;
        }

        .contact__input {
            width: 100%;

            box-sizing: border-box;

            border: 1px solid $input-border-color;
            border-radius: 5px;
            padding: .5rem;

            font-size: .75rem;
        }

            .contact__message-input {
                resize: vertical;
            }

    .contact--align-send-button {
        text-align: center;
    }

        .contact__send-button {
            @include button();

            margin-top: .5rem;

            padding: 1rem 1.5rem;
        }
            
/* RESPONSIVE LAYOUTS */
/* TABLET */
/* 768px */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    /* COURSE INFORMMATION */
    .course-information {
        display: flex;
        justify-content: space-between;
    }

        .course-information__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }
        
            .course-information__item:not(:last-child) {
                margin-bottom: 0;
            }

            .course-information__icon {
                width: 50px;
                height: 50px;
            }

            .course-information__description {
                width: 90%;
                
                flex-grow: 1;

                margin-left: 0;
                
                text-align: center;
            }

    /* CONTACT */
    .contact__fields {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }

        .contact__message-field {
            grid-column: 1 / -1;
        }
}

/* DESKTOP */
/* 1024px */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    /* HEADER */
    .header {
        margin-top: 9.5rem;
    }

    /* INTRODUCTION */
    .introduction__description {
        text-align: center;
    }

    /* COURSE INFORMMATION */
    .course-information__icon {
        width: 75px;
        height: 75px;
    }

    /* COURSES */
    .swiper-slide__title {
        font-size: 4rem;
    }

    /* CONTACT */
    .contact__input {
        padding: 1rem;
    }

        .contact__message-input {
            height: 300px;
        }
}