/********** PAGE CONFIGURATIONS **********/
$breakpoints: (
    "small": 340px,
    "medium": 540px,
    "large": 1024px,
    "extra-large": 1440px,
);

/********** COLORS **********/
$red-color: hsl(0, 100%, 46%);
$youtube-red-color: hsl(0, 100%, 40%);
$kournikova-color: hsl(42, 100%, 67%);
$selective-yellow-color: hsl(43, 100%, 50%);
$forest-green-color: hsl(115, 70%, 42%);
$bilbao-color: hsl(115, 69%, 26%);
$anakiwa-color: hsl(209, 100%, 84%);
$malibu-light-color: hsl(202, 100%, 71%);
$malibu-color: hsl(209, 100%, 70%);
$danube-color: hsl(214, 56%, 58%);
$royal-blue-color: hsl(227, 81%, 59%);
$litle-transparent-white-color: hsla(0, 0%, 100%, 0.082);
$heavy-transparent-white-color: hsla(0, 0%, 100%, 0.239);
$white-color: hsl(0, 0%, 100%);
$silver-chalice: hsl(0, 0%, 64%);
$heavy-black-color: hsl(0, 0%, 9%);
$black-transparent-color: hsla(0, 0%, 100%, 0);
$black-heavy-transparent-color: hsla(0, 0%, 0%, 0.122);
$black-little-transparent-color: hsla(0, 0%, 0%, 0.8);
$black-color: hsl(0, 0%, 0%);

/********** BACKGROUNDS **********/
// PAGE
$page-background: linear-gradient($kournikova-color, $selective-yellow-color);

// MENU
$menu-background: $malibu-light-color;
$link--hover-background: $danube-color;

// COURSE CONTENT DROPDOWNS
$section-background: $malibu-color;
$content-dropdown-background: $anakiwa-color;

// PAYMENT CARDS
$payment-card-background: $anakiwa-color;

// OPINION
$opinion-background: $heavy-transparent-white-color;

// BUTTONS
$button-background: $malibu-color;
$button--hover-background: $danube-color;
$button--disabled-background: $silver-chalice;

// POP-UP
$ok-popup-background: $forest-green-color;
$fail-popup-background: $red-color;

// INPUTS
$input-background: $white-color;
$input-file-background: $white-color;
$input-check-checked-background: $royal-blue-color;

/********** BORDERS **********/
// MENU
$menu-bottom-border-color: $heavy-transparent-white-color;

// INPUTS
$input-border-color: $royal-blue-color;
$input-focus-border-color: $malibu-light-color;

// OTHERS
$question-border-color: $royal-blue-color;
$payment-card-border-color: $malibu-color;

/********** SHADOWS **********/
$menu-box-shadow: -2px 2px 4px $black-little-transparent-color;
$carousel-card-box-shadow: 0px 0px 5px 3px $black-color;
$opinion-box-shadow: 0 0 3px $black-heavy-transparent-color;

/********** TEXTS **********/
$font-sizes: (
    "small": 16px,
    "medium": 20px,
    "large": 24px,
);

$title-text-shadow: 1px 1px 2px $white-color;

/********** FONTS **********/
$tittle-font-stack: (
    'Dancing Script',
    Arial,
    Helvetica,
    cursive,
);

$default-font-stack: (
    'Inter',
    Arial,
    Helvetica,
    sans-serif,
);