/* INTRODUCTION */
.header__introduction {
    @include standard--width();
    @include standard--margin-bottom();

    margin-top: 5rem;

    &__title {
        text-align: center;
    }

    &__description {
        text-align: justify;
    }
}