/* WHAT YOU WILL LEARN */
.learning {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;
        
        text-align: center;
    }

    /* WITHOUT SECTIONS */
    &__description {
        margin-bottom: 1rem;
    }

    &__section-title {
        margin: {
            top: 1rem;
            bottom: 1rem;
        }
    }

    /* WITH SECTIONS */
    &__sections {
        &--max-height {
            mask-image: linear-gradient($white-color 70%, $black-transparent-color);

            max-height: 300px;
        }

        max-width: fit-content;

        margin: auto {
            bottom: 0.5rem;
        }

        overflow: hidden;
        z-index: 1;

        &__section {
            max-width: 350px;

            margin: auto {
                bottom: 0.5rem;
            }

            // Plase the order number before the dropdown title like: 1. TITLE, 2. TITLE, etc
            @for $i from 1 through 99 {
                &:nth-child(#{$i}) &__title::before {
                    content: "#{$i}.";
                }
            }

            &__title {
                background-color: $section-background;
    
                display: flex;
                align-items: center;
                
                border-radius: 3px;
                padding: 0.75rem;

                font: {
                    family: $default-font-stack;
                    size: 1rem;
                } 

                text-align: center;

                &--with-arrow {
                    @include course-content-box--spacements($justify-content: space-between, $cursor: pointer);

                    &::after {
                        content: url("../images/icons/Simple\ Arrow\ Down.svg");
    
                        transition: transform 0.25s;
                    }
                }

                &--without-arrow {
                    @include course-content-box--spacements($justify-content: center, $gap: 0.5rem, $cursor: default);
                }
            }

            &__content {
                background-color: $content-dropdown-background;

                height: 0;

                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 0 0.75rem;

                text-align: justify;

                overflow: hidden;
            }

            /* JAVASCRIPT LOGIC LAYOUT */
            &.active {
                .learning__sections__section {
                    &__title {
                        border-radius: 3px 3px 0 0;
    
                        &::after {
                            transform: rotateZ(180deg);
                        }
                    }
    
                    
                    &__content  {
                        height: auto;
    
                        padding: 0.75rem;
                    }
                }
            }
        }
    }

    &__center-button {
        text-align: center
    }

    &__loading-sections {
        @include button();
    }
}

/* COURSE MATERIALS */
.materials {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__contents__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        margin-bottom: 0.5rem;

        &__img {
            width: 25px;
            height: 25px;
        }
    }
}

/* PRICE */
.price {
    @include standard--width();
    @include standard--margin-bottom();
    
    text-align: center;

    &__title {
        margin-bottom: 1rem;

        font-size: 4rem;
    }

    &__text {
        width: 50%;
    
        margin: auto {
            bottom: 0.5rem;
        }

        &__value {
            display: flex;
            justify-content: center;

            margin-bottom: 0.5rem;

            font: {
                size: 3rem;
                weight: bold;
            }
            
            white-space: nowrap;
        }
    }

    /* MORE THAN 1 PAYMENT */
    &__prices--more-than-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        &__payment-content {
            background-color: $payment-card-background;

            max-width: max-content;
            
            border: 2px solid $payment-card-border-color;
            border-radius: 10px;
            padding: 1rem 2rem;

            font-size: 2.5rem;
            text-align: center;
            white-space: nowrap;

            &__text {
                display: flex;
                justify-content: center;

                margin: {
                    top: 1rem;
                    bottom: 0.5rem;
                }

                font: {
                    weight: bold;
                }

                &--small-card {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__note {
        margin-top: 1rem;
    }

    &__buy-button {
        @include button();

        margin-top: 2rem;
    }

    &__payment {
        margin-top: 2rem;
        
        text-align: center;

        &__buttons {
            display: flex;
            justify-content: space-evenly;

            margin-bottom: 2rem;

            &__method {
                max-width: min-content;

                &__button {
                    @include button();
    
                    padding: 1rem;
    
                    box-sizing: border-box;

                    &__img {
                        width: 25px;
                    }
                }

                &__description {
                    margin-top: 0.25rem;
                }
            }
        }

        &--hidden {
            display: none;
        }

        &__material-choice {
            display: flex;
            justify-content: space-between;

            margin-top: 1rem;

            &__option {
                flex: 1 1 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                text-align: center;

                &__input {
                    appearance: none;

                    background-color: $input-background;
                    width: 36px;
                    height: 36px;

                    position: relative;

                    border: 1px solid $input-border-color;
                    border-radius: 50%;

                    &:checked {
                        background-color: $input-check-checked-background;

                        // Checkmark Style
                        &::after {
                            content: "";

                            width: 10px;
                            height: 4px;

                            position: absolute;
                            top: 50%;
                            left: 50%;

                            border: {
                                bottom: 4px solid $white-color;
                                left: 4px solid $white-color;
                            }

                            transform: translate(-50%, -60%) rotateZ(-50deg);
                        }
                    }
                }
            }
        }

        /* QR CODE */
        &__qr-code {
            width: 100%;

            margin-top: 2rem;
            margin-bottom: 1rem;

            &__title {
                margin-bottom: 1rem;
            }

            &__inner-code {
                width: 50%;
                min-width: 150px;
            }

            &__link {
                @include button();

                margin-top: 1rem;
            }
        }

        /* PHONE NUMBER */
        &__phone-number {
            margin-top: 2rem;
            margin-bottom: 1rem;

            &__number {
                display: flex;
                justify-content: center;

                margin: 2rem;

                font-size: 1.5rem;

                white-space: nowrap;
                
                &__link {
                    color: $black-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        /* TED */
        &__ted {
            margin-top: 2rem;
            margin-bottom: 1rem;
            
            &__title {
                margin-bottom: 1rem;
            }
            
            &__infos {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__inner-info {
                    background-color: $white-color;

                    width: 50%;

                    margin: auto {
                        top: 0.5rem;
                    }

                    border-radius: 5px;
                    padding: 1rem;
                }
            }
        }

        &--hidden {
            height: 0;

            overflow: hidden;
        }
    }
}

/* SEND PROOF BY EMAIL */
.basic-contact {
    width: 100%;

    margin-top: 4rem;

    text-align: left;
}

.contact__fields__proof-field {
    /* ADDITIONAL / VARIATIONS */
    /* PROOF INPUT */
    &__label-button {
        background-color: $input-file-background;
        
        grid-column: 1 / -1;
    
        border: 2px dashed $input-border-color;
        border-radius: 5px;
        padding: 1rem 2rem;
    
        text-align: center;

        cursor: pointer;
    }
    
    &__input {
        display: none;

        &--file-selected {
            background-color: $input-file-selected-background;
        }
    }
}


/* STUDENTS OPINIONS */
.opinions {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__opinion {
        background-color: $opinion-background;

        border-radius: 5px;
        box-shadow: $opinion-box-shadow;
        padding: 1.5rem;

        &:not(:first-child) {
            margin-bottom: 2rem;
        }

        &__text {
            font-style: italic;
        }

        &__author {
            margin-top: 0.5rem;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* RESPONSIVE LAYOUTS */
/* TABLET */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    /* COURSE MATERIALS */
    .materials__contents__content__img {
        width: 40px;
        height: 40px;
    }

    /* PRICE */
    /* MORE THAN 1 PAYMENT */
    .price__payment__buttons__method__button__img {
        width: 30px;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    /* WHAT YOU WILL LEARN */
    /* WITH SECTIONS */
    .learning__sections {
        &--max-height {
            max-height: 500px;
        }
    
        &__section {
            max-width: 600px;
        }
    }

    /* COURSE MATERIALS */
    .materials__contents__content__img {
        width: 50px;
        height: 50px;
    }

    /* PRICE */
    /* MORE THAN 1 PAYMENT */
    .price {
        &__prices--more-than-one {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
    
            &__payment-content {
                max-width: fit-content;
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 3rem;
    
                border-radius: 10px;
                padding: 1rem;
    
                &__text {
                    font-size: 2.5rem;
                }
            }
        }

        &__payment {
            &__material-choice {
                justify-content: center;
            }

            &__qr-code__inner-code {
                max-width: 350px;
            }
        }
    }

    /* FORM */
    /* PROOF INPUT */
    .contact__fields__proof-field__label-button {
        padding: 2rem;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
/* EXTRA DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "extra-large")) {
    /* PRICE */
    /* MORE THAN 1 PAYMENT */
    .price__payment {
        &__qr-code__inner-code {
            width: 25%;
            min-width: 350px;
        }
    
        &__buttons__method__button {
            min-width: 100px;
        }
    }
}