/* WHAT YOU WILL LEARN */
.learning {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;
        
        text-align: center;
    }

    /* WITH SECTIONS */
    &__sections {

        &--max-height {
            mask-image: linear-gradient(#ffffff 70%, rgba(255, 255, 255, 0));

            max-height: 300px;

            @media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
                max-height: 700px;
            }
        }

        position: relative;

        margin-bottom: 0.5rem;

        overflow: hidden;
        z-index: 1;

        &__section {
            max-width: 350px;

            @media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
                max-width: 600px;
            }

            margin: auto {
                bottom: 0.5rem;
            }

            &__title {
                background-color: $section-background;

                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 0.75rem;

                font: {
                    family: $default-font-stack;
                    size: 1rem;
                }

                cursor: pointer;

                &::after {
                    content: url("../images/icons/Simple\ Arrow\ Down.svg");

                    transition: transform 0.25s;
                }
            }

            &__content {
                background-color: $content-dropdown-background;

                height: 0;

                padding: 0 0.75rem;

                overflow: hidden;

                &__item {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    & img {
                        width: 20px;
                        height: 20px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }
            }

            /* JAVASCRIPT LOGIC LAYOUT */
            &.active {
                .learning__sections__section__title::after {
                    transform: rotateZ(180deg);
                }
                
                .learning__sections__section__content  {
                    height: auto;

                    padding: 0.75rem;
                }
            }
        }
    }

    &__center-button {
        text-align: center
    }

    &__loading-sections {
        @include button();
    }

    /* WITHOUT SECTIONS */
    &__description {
        margin-bottom: 1rem;
    }

    &__section-title {
        margin: {
            top: 1rem;
            bottom: 1rem;
        }
    }
}

/* COURSE MATERIALS */
.materials {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__contents {
        text-align: center;

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            margin-bottom: 0.5rem;

            & img {
                width: 25px;
                height: 25px;

                @media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
                    & {
                        width: 40px;
                        height: 40px;
                    }
                }

                @media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
                    & {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            
        }
    }
}

/* PRICE */
.price {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        font-size: 4rem;
        text-align: center;
    }

    &__text {
        width: 50%;

        margin: auto {
            bottom: 0.5rem;
        }

        text-align: center;

        &__value {
            display: flex;
            justify-content: center;

            margin-bottom: 0.5rem;
    
            font: {
                size: 3rem;
                weight: bold;
            }

            white-space: nowrap;
        }
    }

    &__center-button {
        text-align: center
    }

    &__buy-button {
        @include button();

        margin-top: 2rem;
    }

    &__payment {
        @include standard--width();
        
        margin: auto;
        margin-top: 2rem;
        
        text-align: center;

        &__qr-code {
            width: 100%;

            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &__advice {
            color: black;

            &--atention {
                display: block;

                color: red;
                font-size: 2rem;
            }

            &--phonenumber {
                color: rgb(89, 89, 110);
                text-decoration: underline;
            }
        }

        &--hidden {
            height: 0;

            overflow: hidden;
        }
    }
}

/* FREQUENT QUESTIONS */
.frequent-questions {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__question {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            font: {
                family: $default-font-stack;
                size: 1.25rem;
            }

            cursor: pointer;

            &::before {
                content: "";

                background-image: url("../images/icons/Arrow\ Down.svg");
                background-size: 100%;

                width: 20px;
                height: 20px;

                transition: transform 0.25s;
            }
        }

        &__content {
            background-color: $content-dropdown-background;

            max-height: 0;

            margin-top: 0.5rem;
            border-radius: 5px;
            padding: 0;

            text-align: justify;
            
            overflow: hidden;
        }
        
        /* JAVASCRIPT STYLE */
        &.active {
            .frequent-questions__question__title::before {
                transform: rotateZ(180deg);
            }
            
            .frequent-questions__question__content {
                height: auto;
                max-height: 1000px;
                
                border: 1px solid $question-border-color;
                padding: 1rem;
            }
        }
    }
}

/* STUDENTS OPINIONS */
.opinions {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__opinion {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & img {
            width: 40px;

            @media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
                & {
                    width: 60px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}