@import "../main.scss";

/* COURSE INFORMMATION */
.course-information {
    @include standard--width();
    @include standard--margin-bottom();

    margin-top: 2rem;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &__icon {
            width: 30px;
            height: 30px;
        }

        &__description {
            margin-left: 1rem;

            text-align: justify;
        }
    }
}

/* COURSES */
.courses {
    @include standard--margin-bottom();

    text-align: center;

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    /* SWIPER */
    &__swiper {
        background: {
            image: url("../images/Sheet\ Music.svg");
            repeat: no-repeat;
            size: 100% 100%;
        }

        height: calc(20vw + 200px);

        &__wrapper {
            height: 100%;

            /* SLIDE */
            &__slide {
                display: flex;
                justify-content: center;
                align-items: center;

                &__background {
                    background: {
                        repeat: no-repeat;
                        size: cover;
                    }
                    
                    width: 60%;
                    height: 75%;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    border-radius: 10px;
                    padding: 2rem;
                    box-sizing: border-box;

                    color: $white-color;
                    text-align: center;

                    box-shadow: $carousel-card-box-shadow;

                    /* IMAGE FOR EACH COURSE */
                    &--sing {
                        background: {
                            image: url("../images/Sing\ Course.png");
                            position: 50%;
                        }
                    }
                    
                    &--children {
                        background: {
                            image: url("../images/Children\'s\ Musicalization\ Course.png");
                        }
                    }
                    
                    &--choir {
                        background: {
                            image: url("../images/Choir\ Conductor\ Course.png");
                            position: 75%;
                        }
                    }

                    &--presentation {
                        background: {
                            image: url("../images/Presentations\ Course.png");
                        }
                    }

                    /* TITLE CARD */
                    &__title {
                        display: flex;
                        justify-content: center;

                        font-size: 2.5rem;
    
                        text-shadow: $title-text-shadow;
                    }

                    &__description {
                        font-size: 1rem;
                    }
                }
            }
        }

        &__button {
            background-color: $white-color;

            width: 3rem;
            height: 3rem;

            border-radius: 50%;

            &::after {
                font-size: 1rem;
            }

            &--prev {
                left: 5%;
    
                &::after {
                    content: url("../images/icons/Arrow\ Left.svg");
    
                    width: 28px;
                    height: 31px;
                }
            }
            &--next {
                right: 5%;
    
                &::after {
                    content: url("../images/icons/Arrow\ Right.svg");
    
                    width: 28px;
                    height: 31px;
                }
            }
        }
        
    }

    &__acess-course {
        @include button();

        display: inline-block;

        margin-top: 1rem;
    }
}

/* CONTACT */
.basic-contact {
    &__pop-ups {
        width: 50%;
        max-width: 250px;

        position: fixed;
        top: 1rem;
        left: 50%;

        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        
        transform: translateX(-50%);
        z-index: 1;

        &__pop-up {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;

            border-radius: 10px;
            padding: 0.75rem;

            font-size: 0.9rem;

            transition: all 1s;

            &--success {
                background-color: #45ff86;
            }

            &--fail {
                background-color: #ff0a0a;
            
                color: white;
            }

            /* JAVASCRIPT STYLES */
            &--invisible {
                // Set the opacity with 0 to apply the transition effect when the element is crated
                opacity: 0;
            }

            &--visible {
                opacity: 1;
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* RESPONSIVE LAYOUTS */
/* SMALL CELLPHONES */
@media screen and (max-width: map-get($map: $breakpoints, $key: "small")) {
    /* COURSES */
    // Fits the title inside the box when screen it's too small
    .courses__swiper__wrapper__slide__background {
        &__title {
            font-size: 2rem;
        }

        &__description {
            font-size: 0.75rem;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
/* TABLET */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    /* COURSE INFORMMATION */
    .course-information {
        display: flex;
        justify-content: space-between;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &__icon {
                width: 50px;
                height: 50px;
            }

            &__description {
                width: 90%;
                
                flex-grow: 1;

                margin-left: 0;
                
                text-align: center;
            }
        }
    }

    /* COURSES */
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;

        margin: auto 8px !important;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    /* HEADER */
    .header {
        margin-top: 6rem;

        /* INTRODUCTION */
        &__introduction__description {
            text-align: center;
        }
    }

    /* COURSE INFORMMATION */
    .course-information__item {
        width: calc(100% / 4);

        &__icon {
            width: 75px;
            height: 75px;
        }
    }

    /* COURSES */
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;

        margin: auto 10px !important;
    }

    /* CONTACT POP-UPS */
    .basic-contact__pop-ups {
        top: 4rem;
        left: unset;
        right: 1rem;

        transform: unset;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
/* EXTRA DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "extra-large")) {
    /* COURSES */
    .courses__swiper__wrapper__slide__background__title {
        font-size: 4.5rem;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;

        margin: auto 12px !important;
    }
}