.footer {
    @include standard--width();

    &__title {
        text-align: center;
    }

    &__nav__list {
        margin: .5rem auto 1rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;

        &__link {
            display: flex;
            align-items: center;

            color: $black-color;

            &__icon {
                width: 25px;
                height: 25px;
    
                margin-right: .5rem;
            }
        }
    }
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    .footer__nav {
        margin-top: 1.2rem;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;

            &__link {
                &__icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }       
}

/* RESPONSIVE LAYOUTS */
/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    .footer__nav__list {
        flex-wrap: nowrap;
    }
}