.footer {
    @include standard--width();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__nav__list {
        margin: .5rem auto 1rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;

        &__link {
            display: flex;
            align-items: center;

            color: $black-color;

            &__icon {
                width: 35px;
                height: 35px;
    
                margin-right: .5rem;
            }

            &__text {
                font-size: 1.2rem;
            }
        }
    }
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    .footer__nav {
        margin-top: 1.2rem;

        &__list__link__icon {
            width: 40px;
            height: 40px;
        }
    }       
}

/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    .footer__nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;

        flex-wrap: nowrap;
    }
}