/* BASIC CONTACT WITH: (NAME, EMAIL, MESSAGE) */

/* HTML TEMPLATE *
<section class="basic-contact">
    <h2 class="basic-contact__title">FORM_TITLE</h2>
    <p class="basic-contact__description">FORM_DESCRIPTION</p>

    <form>
        <fieldset>
            <legend class="basic-contact__legend">FORM_LEGEND</legend>

            <div class="basic-contact__fields">
                <div>
                    <label class="basic-contact__fields__label" for="basic-contact__fullName">Nome Completo</label>
                    <input class="basic-contact__fields__input" id="basic-contact__fullName" type="text" name="name" placeholder="Digite seu nome completo" required>
                </div>

                <div>
                    <label class="basic-contact__fields__label" for="basic-contact__email">E-mail</label>
                    <input class="basic-contact__fields__input" id="basic-contact__email" type="email" name="email" placeholder="seuemail@gmail.com" required>
                </div>

                <div class="basic-contact__fields__message-field">
                    <label class="basic-contact__fields__label" for="basic-contact__message">Mensagem</label>
                    <textarea class="basic-contact__fields__input basic-contact__fields__message-input" id="basic-contact__message" name="message" placeholder="Digite sua mensagem" rows="5" required></textarea>
                </div>
            </div>

            <div class="basic-contact--align-send-button"> <input class="basic-contact__send-button" type="submit" value="Enviar E-mail"> </div>
        </fieldset>
    </form>
</section>
*/
.basic-contact {
    @include standard--width();
    @include standard--margin-bottom();

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__description {
        margin-bottom: 1rem;

        text-align: justify;
    }

    &__legend {
        @include acessibility--hidden-text();
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__label {
            display: block;

            margin-bottom: .5rem;

            font-size: .875rem;
        }

        &__input {
            width: 100%;

            box-sizing: border-box;

            border: 1px solid $input-border-color {
                radius: 5px;
            }

            padding: .5rem;

            font-size: .75rem;

            &:focus {
                border: 3px solid $input-focus-border-color;

                outline: none;
            }
        }

        &__message-input {
            resize: vertical;
        }
    }

    &--align-send-button {
        margin-top: .5rem;
        
        text-align: center;
    }
    
    &__send-button {
        @include button();

        padding: 1rem 1.5rem;

        &--disabled {
            background-color: $button--disabled-background;

            cursor: not-allowed;

            &:hover {
                background-color: $button--disabled-background;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* RESPONSIVE LAYOUTS */
/* TABLET */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    /* CONTACT */
    .basic-contact__fields {
        display: grid;
        
        grid-template: {
            rows: auto;
            columns: repeat(2, 1fr);
        }
        
        &__message-field {
            grid-column: 1 / -1;
        }
        
        &__proof-field {
            grid-column: 1 / -1;
        }
    }
}

/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    /* CONTACT */
    .basic-contact__fields__input {
        padding: 0.75rem;
    }

    .basic-contact__fields__message-input {
        height: 250px;
    }
}