.menu {
    background-color: transparent;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    border-bottom-left-radius: 2px;

    z-index: 2;

    &__hamburguer-icon {
        width: 40px;
        height: 40px;

        align-self: flex-end;

        margin: 1rem;

        cursor: pointer;
    }

    &__navigation-menu {
        height: 0;

        text-align: center;

        overflow: hidden;

        &__link {
            display: block;
            
            padding: 1.5rem 2rem;
        }
    }
}  

/* DESKTOP */
/* 1024px */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    .menu {
        background-color: $menu-background;

        width: 100%;
        height: auto;

        box-shadow: $menu-box-shadow;

        &__hamburguer-icon {
            display: none;
        }

        &__navigation-menu {
            height: auto;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            text-align: center;

            &__link {
                display: inline-block;

                padding: 1rem;
            }
        }
    }
}