.menu {
    background-color: transparent;

    width: 75px;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    border-bottom-left-radius: 2px;
    box-shadow: none;

    z-index: 2;

    &__hamburguer-icon {
        width: 40px;
        height: 40px;

        align-self: flex-end;

        margin: 1rem;

        cursor: pointer;
        content: url("../images/icons/Menu.svg");
    }

    &__navigation-menu {
        height: 0;

        text-align: center;

        overflow: hidden;

        & li:not(:last-child) {
            border-bottom: 1px solid $menu-bottom-border-color;
        }

        &__link {
            display: block;
            
            padding: 1.5rem 2rem;

            color: $heavy-black-color;

            &:hover {
                background-color: $link--hover-background;

                transition: all 0.5s;
            }
        }
    }

    &.menu-is-active {
        background-color: hsl(202, 100%, 71%);

        width: auto;

        box-shadow: -2px 2px 4px hsla(0, 0%, 0%, 0.8);

        .menu__hamburguer-icon {
            content: url("../images/icons/Close.svg");
        }

        .menu__navigation-menu {
            height: auto;
        }
    }
}  

/* RESPONSIVE LAYOUTS */
/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    .menu {
        background-color: $menu-background;

        width: 100%;
        height: auto;

        box-shadow: $menu-box-shadow;

        &__hamburguer-icon {
            display: none;
        }

        &__navigation-menu {
            height: auto;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;

            text-align: center;

            & li {
                &:not(:last-child) {
                    border-bottom: none;
                }

                &:last-child {
                    margin-right: 1rem;
                }
            }

            &__link {
                display: inline-block;

                padding: 1rem;

                &:hover {
                    background-color: $link--hover-background;
    
                    border-radius: 5px;
                }
            }
        }
    }
}