html,
body {
    font-size: map-get($map: $font-sizes, $key: "small");
}

body {
    background-image: $page-background;

    font-family: $default-font-stack;
}

/* TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $tittle-font-stack;
}

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.5rem;
    }

p,
blockquote {
    line-height: 1.25;
}

/* FORMS */
fieldset {
    padding: 0;
}

/* LINKS */
a {
    text-decoration: none;

    // Identify the link without a URL
    &[href="#"] {
        color: red;
        text-decoration: underline;
    }
}

/* OTHERS */
hr {
    border: 1px solid $black-color;
}

/* RESPONSIVE LAYOUTS */
/* TABLET */
@media screen and (min-width: map-get($map: $breakpoints, $key: "medium")) {
    html,
    body {
        font-size: map-get($map: $font-sizes, $key: "medium");
    }
}

/* DESKTOP */
@media screen and (min-width: map-get($map: $breakpoints, $key: "large")) {
    html,
    body {
        font-size: map-get($map: $font-sizes, $key: "large");
    }
}